.container-form{
    max-width: 700px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

span {
    background-color: #D6EDF0;
    
}

span img {
    max-width: 25px;
}